<div *ngIf="startOverlap" class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Overlaps with end of previous shift
</div>
<div class="row align-items-center text-center">
    <div class="col-sm-12 col-md-4">
        <ngb-datepicker
            [ngModel]="startDate"
            (ngModelChange)="startDateChanged($event)"
            required
            ></ngb-datepicker>
    </div>
    <div class="col-sm-6 col-md-4">
        <h3>Start time</h3>
        <ngb-timepicker
            [ngModel]="startTime"
            (ngModelChange)="startTimeChanged($event)"
            required
            ></ngb-timepicker>
    </div>
    <div class="col-sm-6 col-md-4">
        <h3>End time</h3>
        <ngb-timepicker
            [ngModel]="endTime"
            (ngModelChange)="endTimeChanged($event)"
            required
            ></ngb-timepicker>
    </div>
</div>
<div *ngIf="endOverlap" class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Overlaps with start of next shift
</div>
